[2017-06-30 13:50] bushyiv opened #1 "Module bs4 missing"
Received this message in my first attempt at testing the script.

guy@guy-HP ~ $ torrench -p 5 "suits s01e01"
No module named 'bs4'
Please install and retry.

I'm new to Linux, do not know what bs4 is and where to begin to install it.  Assistance is appreciated.

[2017-06-30 14:04] DasEarl commented on #1
bs4 or beautiful soup is a html parser for python which is missing on your machine.
https://www.crummy.com/software/BeautifulSoup/bs4/doc/

I guess you already have pip installed. If not install it with
`sudo apt-get install -y python3-pip`

Then install all the packages
`pip3 install request bs4 lxml tabulate termcolor`

Or just bs4 in your case.

[2017-06-30 14:19] bushyiv commented on #1
DasEarl
Thanks for helping.  I tried following your suggestions and received some errors.

guy@guy-HP ~ $ pip3 install request bs4 lxml tabulate termcolor
Collecting request
  Downloading request-0.0.13.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
    ImportError: No module named 'setuptools'

[2017-06-30 14:23] DasEarl commented on #1
Apparently you need to install setuptools by hand:
`sudo apt-get install -y python3-setuptools`

[2017-06-30 14:32] bushyiv commented on #1
I guess I am almost there ;-)
After running the install for setuptools and test again I received this error:

guy@guy-HP ~ $ torrench -p 5 "suits s01e01"
No module named 'tabulate'
Please install and retry.

[2017-06-30 14:52] bushyiv commented on #1
Googled for Tabulate, found a install command, used it and got a bunch of RED text back, apparently something didn't go right.  Tried installing it again and the output seemed everything was good, yet when testing I again got the message that Tabulate was missing, very confusing for a noob.

guy@guy-HP ~ $ sudo -H pip install tabulate
Requirement already satisfied (use --upgrade to upgrade): tabul

[2017-06-30 15:46] DasEarl commented on #1
As you can see in the tabulate installation path, tabulate was installed as a Python 2 dependency. You need the Python 3 which needs to be called explicitly.

The following command should install all you need:
`sudo pip3 install request bs4 lxml tabulate termcolor`

[2017-06-30 16:37] bushyiv commented on #1
Thanks, looks like everything is now working.

[2017-06-30 16:42] DasEarl opened #2 "Why manipulating the PATH variable"
Instead the symlink could directly target /bin/torrench

[2017-06-30 20:40] kryptxy commented on #1
As mentioned in install instructions.
`$ (sudo) python3 -m pip install requests bs4 lxml tabulate termcolor`

Closing as resolved.

[2017-06-30 20:40] #1 closed

[2017-06-30 20:46] kryptxy commented on #2
You mean creating a symlink in /bin/ instead of altering the $PATH?

[2017-06-30 20:52] DasEarl commented on #2
Exactly. My $PATH would be way to long if every program would add its own path to it

[2017-06-30 21:06] kryptxy commented on #2
Added symlink option to /usr/local/bin
https://github.com/kryptxy/torrench#requirements-and-installation

Closed!

[2017-06-30 21:06] #2 closed

[2017-08-04 05:23] z1lt0id opened #4 "Documentation Request: Supports filtering search using categories"
I was wondering if you could go into detail how you exactly you do a filtered search using categories in regards to TPB?

Would it be something like:

`torrench -t "Movies - HD 2160p"` (??)

[2017-08-04 11:39] kryptxy commented on #4
Category filters are not supported yet.
Bu default, results are fetched from all.

[2017-08-07 07:46] #4 closed

[2017-08-07 12:06] z1lt0id commented on #4
Good to know - thanks for that update.

[2017-08-12 19:31] slicer69 opened #5 "New module to download torrents from DistroWatch"
As DistroWatch also supplies legal ISO files, much like LinuxTracker, I have put together a new module that finds and downloads torrents from DistroWatch. The attached patch adds the module and the command line parameters "-d" and "--distrowatch" to specify the site as a search options.

[torrench-add-distrowatch.txt](https://github.com/kryptxy/torrench/files/1220011/torrench-add-distrowatch.txt)

[2017-08-13 08:18] kryptxy commented on #5
I'll look into it and revert.

[2017-08-15 18:20] kryptxy commented on #5
Sorry for reverting back this late. Was occupied with college stuff.
Thanks for distrowatch module. I have applied the patch, and also added upload date to it.
Sources updated.

[2017-08-15 18:39] slicer69 commented on #5
Thank you.

[2017-08-15 18:39] #5 closed

[2017-08-24 21:24] itdaniher opened #8 "The beginning...."
Hey @kryptxy kryptxy, sweet project! I started hacking around a little bit today to use your scrapers as a source of magnet links for my toy torrent search engine, and have a few thoughts. Take these with a grain of salt, from someone who's written a lot of opinionated Python. I'm writing in a hope that some of these might be useful as you continue to explore the excellent Python ecosystem!

Forma

[2017-08-25 12:21] kryptxy commented on #8
Hi Ian,
Firstly, Thank you for showing interest in this project.
Being a python beginner, these suggestiins are another learning step for me, so thank you!

Lets begin:
1. Thanks for PEP8 ( and autopep8). Didn't really gave a thought about it. I'll update entire code to this.
2. Destructuring of dictionaries is great. PR yes!
3. I'll look into python ints as indexes.
4. About classes: I have it on

[2017-08-25 17:41] itdaniher commented on #8
I opened PRs #9 for formatting and #10 reducing the number of lines by a few.

I can open up a PR for issue number 5, which I implemented [here](https://github.com/itdaniher/torrench/commit/553bba240a85676d3811434ad0130823688f8f44)

Cheers!

[2017-08-25 18:08] cookiengineer opened #11 "TypeError: must be str, not NoneType"
When I use torrench on my 3G connection, I cannot influence which proxies it selects. This is bad and there should be an option to do so. Some proxies seem to ship different HTML than others (I guess advertising stuff). Also, when an HTTP connection is used, 3G carriers always inject their own HTML, replace image urls etc. pp. - so HTTPS should be enforced.

The error message I'm getting is:

[cod

[2017-08-26 01:45] z1lt0id opened #12 "Suggestion: Torrent/Magnet added to torrent client automatically."
Hey,

A good idea for Torrench would be to have the option to push the torrent or magnet straight to your download client of choice. Transmission has a nice simple API as Deluge has its console application to change things on the fly as well.

It would make the workflow of the application much more streamlined. Rather than downloading the torrent, adding it manually to your client of choice, a bla

[2017-08-26 02:32] kryptxy commented on #11
Please update to latest version (v1.0.42). This issue is resolved in latest version. If you still get this error, please provide OS in use, along with exact search string that gives this error.

[2017-08-26 02:34] kryptxy commented on #12
Hi,
Though there is an option to add torrent automatically to (default) client, its still not full-proof. Pushing to client of choice will be implemented in future releases. Can't promise when, but it will be soon :)

[2017-08-27 05:05] Roland-Zhu opened #14 "Config file not configured. Configure to continue. Read docs for more info."
root@develop:~ # torrench -k "game of thrones s07e06"

Config file not configured. Configure to continue. Read docs for more info.

root@develop:~ # uname -a
FreeBSD develop 11.0-STABLE FreeBSD 11.0-STABLE #0 r313908+f4b711d1be8(freenas/11.0-stable): Tue Jun 13 19:17:29 UTC 2017     root@gauntlet:/freenas-11-releng/freenas/_BE/objs/freenas-11-releng/freenas/_BE/os/sys/FreeNAS.amd64  amd64

[2017-08-27 05:54] kryptxy commented on #14
Download and enable configuration file.
https://github.com/kryptxy/torrench#configuration-instructions

[2017-08-27 06:32] #12 closed

[2017-08-27 11:00] dimaspencer84 opened #15 "No results for give input!"
I get this error message for any research from Distrowatch (-d). I downloaded your tool from pip3.
I really like your tool man. Thank you!
Dima

[2017-08-27 12:00] kryptxy commented on #15
What's the exact search string entered?

[2017-08-27 13:33] dimaspencer84 commented on #15
It's case sensitive then. because what I tried was :
`torrench -d 'Ubuntu'`
But, it works now on my side.
Thank you very much.

[2017-08-27 16:07] kryptxy commented on #15
I'll fix this in next release. Thanks!
Closing.

[2017-08-27 16:07] #15 closed

[2017-08-28 01:30] itdaniher commented on #8
Closing as the most of it's been addressed. Cheers!

[2017-08-28 01:30] #8 closed

[2017-08-28 06:22] acarist opened #16 "TypeError: 'NoneType' object is not subscriptable"
I get an error when I try piratebay. I think soup couldn't find the element.

`######################
#                    #
#    ThePirateBay    #
#                    #
######################

Obtaining proxies...

Fetching results...
Traceback (most recent call last):
  File "/usr/local/bin/torrench", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.6/site-packages/torre

[2017-08-28 06:27] kryptxy commented on #16
I have been getting the same. Digging further, the proxies are not responding. Looking for a fix. I'll update when I find one.

[2017-08-28 06:48] kryptxy commented on #16
**UPDATE** : TPB/KAT proxies seems to be down. That's the reason this error is occuring. I couldn't find any working proxy. Once proxies are up, it should work fine.

[2017-08-28 08:35] kryptxy commented on #14
Closing!

[2017-08-28 08:35] #14 closed

[2017-08-28 08:37] kryptxy commented on #11
Closing assuming its resolved. Let me know if it isn't along with details as mentioned above.

[2017-08-28 08:37] #11 closed

[2017-08-28 09:49] cookiengineer commented on #11
I updated to HEAD (using AUR) and it seems to be resolved.
Sorry for the bug report, I should've checked for updates first ;(

I'll reopen this issue in case my carrier's 3G connection was the cause (it's kinda hard to reproduce with the failed/closed connections). So far testing it over the weekend produced no error.

[2017-08-28 15:35] rajenlyz opened #17 "TypeError: 'NoneType' object is not subscriptable"
Hi, when I use torrench to search torrents, there is error occurred. The info is as follows:

[code]

Could you help to give some suggestions for this issue? Thanks.

[2017-08-28 15:36] #17 closed

[2017-08-28 15:36] rajenlyz commented on #17
This issue has been opened.

[2017-08-29 09:16] cookiengineer commented on #11
Damn, now I get still an error. BUT I guess it's more related to the pirateproxy.cam than to other proxies:

[code]

[2017-08-29 09:19] cookiengineer commented on #11
When I try out the pirateproxy.cam, it gives me a 504 - Gateway Timeout very often. Maybe this is not caught as an error in the code?

[2017-08-29 09:31] kryptxy commented on #11
Similar issue is already open.
https://github.com/kryptxy/torrench/issues/16

Yes. Next update will be able to handle such errors more efficiently.

[2017-08-29 12:03] kryptxy opened #18 "Temporary fix for unavailable proxies (TypeError: 'NoneType' object is not subscriptable)"
Referring Issue https://github.com/kryptxy/torrench/issues/16
(TPB Proxies not working)
Here is a (temp) fix (works for me)

Add the following to [Line 88](https://github.com/kryptxy/torrench/blob/master/torrench/modules/thepiratebay.py#L88)
```url = "https://thepiratebay.org"```
[Should come after ```url = proxy_list[i]```]

Test and report?

[2017-08-29 12:06] kryptxy commented on #16
A temp. fix - https://github.com/kryptxy/torrench/issues/18

[2017-09-02 04:37] kryptxy commented on #16
TPB proxies are back online. Should work! Closing.

[2017-09-02 04:37] #16 closed

[2017-09-02 04:38] kryptxy commented on #18
Closing!

[2017-09-02 04:38] #18 closed

[2017-09-05 04:08] Docbroke opened #19 "support skytorrents"
Hi,
Thanks for this wonderful tool.

I have found that www.skytorrents.in as much more reliable as compared to KAT or TPB, (in my country). It works all the time and doesn't require proxy. Can you add support for that?

Another request is to add support for selecting search categories on TPB or skytorrents if you choose to support it.

Thanks

[2017-09-05 04:53] itdaniher commented on #19
skytorrents is great. something along these lines might be useful as a starting point:

[code]

[2017-09-06 00:43] kryptxy commented on #19
skytorrents seems good (didn't know about this).
Will add it in the next update.

As for TPB categs, I haven't had any need for category search, so didn't add. I'll see what I can do about it.

[2017-09-07 21:12] kryptxy commented on #19
Update: Added skytorrents support in v1.0.5.
Feedback/suggestions are more than welcome.
(Closing!)

[2017-09-07 21:12] #19 closed

[2017-09-11 10:36] Jedipottsy opened #20 "Python error"
Hi,
under ubuntu 16.04 i get the following error

[code]

[2017-09-11 14:09] kryptxy commented on #20
Please attach the log file [```~/.local/share/torrench/```]

[2017-09-12 19:20] kosmonautbruce commented on #20
I installed and then ran the example search, and got the exact error reported here. Attached is my log file. Thanks.
[torrench (copy).txt](https://github.com/kryptxy/torrench/files/1297120/torrench.copy.txt)

[2017-09-12 23:39] kryptxy commented on #20
Try the following:

```python3 -m pip install certifi```

[2017-09-13 16:03] kryptxy commented on #20
Great!
@Jedipottsy The same should work for you too. In case it doesn't feel free to comment. Do attach the log file.
(Closing!)

[2017-09-13 16:03] #20 closed

[2017-09-14 17:43] scriptzteam opened #22 "[ADD] x[BiT] as a provider (have rss and api)"
**https://xbit.pw/readme**

[code]

[2017-09-14 18:03] kryptxy commented on #22
Nice! Will look into it! :)

[2017-09-14 18:20] kryptxy opened #23 "Changing Torrench licence to MIT"
Hi,
Torrench is presently under GPL3 licence. Though there isn't any issue with this one, I have been thinking of changing to MIT licence for one good reason that it's more permissible as compared to GPL3 licence.
Thoughts?

@itdaniher @RajuKshetrimayum @Ricky-Wilson

[2017-09-14 18:25] itdaniher commented on #23
BSD would be swell! I prefer it to the GPL for smaller / relatively straight-forward projects, where there's more of a benefit to the network effect of someone using it for its permissive license than cost to a third party (maybe) not contributing their modifications back to the public.

Cheers!

[2017-09-14 19:46] kryptxy commented on #23
Makes sense. Just read about BSD licence. Seems like a good fit for this project...

[2017-09-16 13:40] kryptxy commented on #23
@Ricky-Wilson @RajuKshetrimayum are you fine with changing torrench licence to MIT?

[2017-09-17 09:18] kryptxy commented on #22
XBit pushed to master. Thanks!

[2017-09-18 05:06] RajuKshetrimayum commented on #23
Yes, i am fine and good luck.

On Sat, Sep 16, 2017 at 7:10 PM, Rijul Gulati <notifications@github.com>
wrote:

[2017-09-20 18:29] datafanatic opened #24 "Interactive prompt"
I've been using torrench for some time now (specifically my module in #21 to test for bugs and daily usage) and I've realized that it's quite a pain to keep running the program time and time again when making multiple searches. So I figured perhaps an interactive mode could be useful?

## How would it work?

A new flag `-i` or `--interactive` would be added. Running `torrench -i` would return an i

[2017-09-21 12:47] kryptxy commented on #24
How would it be different from starting program again? I mean, the interactive mode would still perform all the steps as being performed by default right?

I think creating alias would be helpful. (Eg. nyaa for ```torrench -n```)
This way, search can be performed as ```$ nyaa 'search'```

[2017-09-21 14:51] datafanatic commented on #24
Suppose I wanted to download an anime series from Nyaa and an ISO from DistroWatch, without interactive mode this is what I would have to currently do:

`$ torrench -n "baccano"
[Results displayed, torrent selected and loaded into client and program exits]
`$ torrench -d "Fedora 26"
[Results displayed, torrent selected and loaded into client and program exits]

What I propose would be something mo

[2017-09-22 15:09] kryptxy commented on #24
Seems Interesting. I would not be able to give in time for next few days. Feel free to implement and revert?

[2017-09-22 15:19] #22 closed

[2017-09-22 15:21] datafanatic commented on #24
Ok. I'll see if I can come up with a decent implementation within the next couple of weeks. Good luck with college!

[2017-09-22 15:21] #24 closed

[2017-09-23 11:07] kryptxy opened #25 "Torrench TODOs"
Hiya,
Here I am mentioning the TODOs I have in mind that need to be integrated in torrench. This is simply a list I think that could improve overall torrench experience (user-end as well as development-end).
Feel free to adopt any of the TODO. Please do comment below to let me as well as others know what you are working on. On completion, simply **create a PR** or **Send a patch file**.

- [ ] Add

[2017-09-23 17:43] datafanatic commented on #25
Instead of adding CLI support for specific clients, why not let the user specify their own client in the configuration file then just call it using `subprocess.call`? It seems like it would be simpler and a lot less to worry about. The only limitation is that it would (possibly) only work in the user's localhost, so no remote management. AFAIK most clients support adding torrents by passing the fi

[2017-09-23 17:57] kryptxy commented on #25
I tried adding torrent to ```transmission-gtk``` using ```subprocess.call([self.client, magnet])```. This did work, but this caused program (torrench) to hault till the time GUI client is open. This happened whenever the client is opened for the first time. That's the reason I went for ```torrench-remote``` approach.
Also, I once gave ```rtorrent``` a try. When I add torrent to rtorrent as ```rtor

[2017-09-23 18:02] kryptxy commented on #25
About command-line arguments, I think command-line arguments can be managed more efficiently. Managing command-line arguments would become difficult as more modules would be added. One reason I can think of is because some modules (may) have a certain set of features, while some have another. (Eg. ```--top``` argument only works with ```--thepiratebay``` and ```--skytorrents```
They do work fine,

[2017-09-24 05:14] kryptxy commented on #23
@datafanatic You fine with changing licence to MIT?

[2017-09-24 08:22] datafanatic commented on #23
Yes.

[2017-09-24 08:24] datafanatic commented on #25
I understand now, but I don't really see a way of solving this. There doesn't seem to be many options.

Were you running transmission in background mode?

[2017-09-24 08:37] kryptxy commented on #25
I tried two ways:
- Transmission GUI was not running at all - Which caused torrench to hault.
- Transmission GUI was already open - In this case it worked fine (means torrent is added and control is returned back to torrench)

What exactly do you mean by background mode?

[2017-09-24 10:17] datafanatic commented on #25
In Linux (and MacOS, I assume) if you append "&" to the end of a command, it will start that command in background mode.

Ex:
`$ transmission-gtk "magnet..." &`

[2017-09-24 11:11] kryptxy commented on #25
Yes it didn't work either. Torrench haults and waits for GUI to close.

[2017-09-24 14:19] datafanatic commented on #25
Strange. I'll try a few things later today and see if I can make it work.

[2017-09-24 16:16] kryptxy commented on #25
Sure

[2017-09-24 21:53] odgalvin opened #26 "AttributeError: 'int' object has no attribute 'find' for TPB/KAT"
I have torrench 1.0.53 installed via pip on Parabola (Arch) Linux. I get this error when attempting torrench -t "test" and when attempting torrench -k "test" respectively:

[https://pastebin.com/aXb4kJU1](https://pastebin.com/aXb4kJU1)

DistroWatch, SkyTorrents, Nyaa and Xbit work fine.

[2017-09-25 00:53] kryptxy commented on #26
Working for me..
Try re-setting up the config.ini file. If it still doesn't work -

- See if ```https://proxybay.one``` opens in your browser?
- Please post the config.ini file

[2017-09-25 10:24] odgalvin commented on #26
I haven't modified the config.ini file from the one you supplied, here's the values I have set:
[https://pastebin.com/1Wf0916Y](https://pastebin.com/1Wf0916Y)

proxybay.one doesn't work for me, I think it's blocked as I'm in the UK, as it works via Tor.
torify torrench -t "test" gives me:
[https://pastebin.com/Cd1667Ly](https://pastebin.com/Cd1667Ly)

Again, "torify torrench" works for to Skytorre

[2017-09-25 10:41] datafanatic commented on #26
Are you using torify in all the requests? Or were you using it just for testing?

[2017-09-25 10:54] datafanatic commented on #25
I've tried changing line 184 in Common.py to
`p = subprocess.Popen(['transmission-gtk', link], stdout=subprocess.PIPE, stderr=subprocess.PIPE)` and it worked without halting or any problems at all. Could you try this in your environment?

[2017-09-25 11:13] datafanatic commented on #25
Actually, I take that back. I've made a couple of extra tests and now I see what you meant. Indeed it does not work.

[2017-09-25 12:46] kryptxy commented on #26
torify torrench -t "test" gives me:
https://pastebin.com/Cd1667Ly

Please attach the log file.

[2017-09-25 14:29] odgalvin commented on #26
@datafanatic I only used torify once I saw the initial error and that I couldn't access proxybay.one, the errors I initially posted were without tor. I regularly use tor to access torrent sites though, due to the censorship, and torrench works fine with or without torify except for KAT/TPB.

@kryptxy Log from torify torrench -t "test":
https://pastebin.com/t0gFD7Dk

[2017-09-25 14:33] RafayGhafoor commented on #25
For managing cli-arguments, perhaps look into click module which allows you to write less code with alot of functionality. Have a look at docopt too.

[2017-09-25 15:02] kryptxy commented on #26
Both ```https://proxybay.one``` and ```https://thepiratebay.org``` returned status 403.
Are they accessible from browser?
Also, since you are using TOR, you might consider using TPB ```.onion``` site. Add the .onion site to ```config.ini``` file.
(Like ```TPB_URL = <.onion> <other_sites>```)

I haven't tested it myself, but I think it should work.

[2017-09-25 15:05] kryptxy commented on #25
I'll see if some work-around can be found. Did you try using ```rtorrent```?

[2017-09-25 15:11] datafanatic commented on #26
@odgalvin I see. I asked because it could be that the website was redirecting to a CloudFlare captcha page, which is what happened when I tried `torify curl https://thepiratebay.org`.
Also it should be noted that as of right now the TPB server has gone offline, and it has been for a while now. I think that may be the problem.

When (and if) it comes back, try again and report here your results.

[2017-09-25 15:19] kryptxy commented on #25
I think ```argparse``` can resolve command-line management. I was reading the docs today morning. I think [mutual exclusion](https://docs.python.org/3/library/argparse.html#mutual-exclusion) can help. I still got to try it. If ```argparse``` doesn't work, will look into ```click``` and ```docopt```.

[2017-09-25 15:42] datafanatic commented on #25
No, but I will try later today.

Regarding the arguments, I've read about `click` before. It seems that it uses decorators for the options, which would be pretty helpful.

[2017-09-25 15:45] datafanatic commented on #26
Conveniently enough, the website has just come back to life.

[2017-09-26 03:53] kryptxy commented on #25
I'll look into it.

[2017-09-26 17:00] kryptxy commented on #25
Okay. I think I got ```transmission-gtk``` to work. Still got to test ```rtorrent```. Anybody uses rtorrent?

[2017-09-26 19:28] kryptxy commented on #25
**Update:** I have pushed the changes onto master. Test and report?
Tested by me: ```transmission-gtk```, ```transmission-qt```, ```transmission-remote```
Not tested (but should work): ```rtorrent```, ```qbittorrent```

Please note that ```torrench.ini``` config file is required to set default client.

[Changes](https://github.com/kryptxy/torrench/blob/master/torrench/utilities/Common.py#L164)
[to

[2017-09-26 19:41] datafanatic commented on #25
Okay. I'll test them right away.

[2017-09-26 19:54] datafanatic commented on #25
So it works! But there's a small problem: once torrench is terminated, so is the torrent client (if it was spawned by torrench), I think that what we need to do is to start another process that is independent from torrench (or, rather, Python) itself.

[2017-09-26 20:06] kryptxy commented on #25
I missed that (my bad!). Looking into it..

[2017-09-26 20:09] datafanatic commented on #25
Sure. I'll create another issue so we can discuss how to proceed with the command line arguments so this discussion doesn't become clobbered with different subjects. Would that be okay?

[2017-09-26 20:27] kryptxy commented on #25
Yes sure

[2017-09-26 20:27] datafanatic commented on #26
Hi @odgalvin, was your problem fixed?

[2017-09-26 20:37] datafanatic opened #28 "Command line arguments"
As per #25, it was suggested that perhaps there would be a better way to organize and handle the command line arguments used in torrench. This issue will be used to track the discussion.

https://github.com/kryptxy/torrench/issues/25#issuecomment-331900687 suggested the use of `docopt` and `click`. Personally, I have found `click` easier to use and simpler to read.

Are there any better alternativ

[2017-09-26 22:30] itdaniher commented on #25
@kryptxy  how did using os.setpgrp as the preexec func make transmission-gtk work? cheers!

[2017-09-27 00:35] kryptxy commented on #25
What I understood is when torrench recieves a SIGINT, all its child processes also recieve a SIGINT and thus terminate. This is becausd all child processes (by default) belong to same group as the parent.
```os.setpgrp``` simply creates a new group for child process. Thus SIGINT recieved by parent does not reach the child.

So the transmission-gtk process has its own group, rather than torrench's

[2017-09-27 19:48] datafanatic commented on #25
Sorry for the delay, I was having problems with my ISP. Nevertheless, I tested on Linux (Fedora 26 x64) with Deluge, Tixati and Transmission and it worked with all of them! Sweet fix. Congrats!

[2017-09-30 11:41] arnauldb opened #29 "error installing."
Hello,

when installing on Ubuntu with:

I have this:

thank you for any help.

[2017-09-30 13:35] datafanatic commented on #29
Hi @arnauldb - what is your operating system? Have you updated `pip` itself? Is this the first time that this is happening?

[2017-09-30 14:16] Nolent opened #30 "Error message: Can't convert 'NoneType' object to str implicitly"
Hi, I have this error when i try to use torrench with Kat.

`[KickassTorrents]

Obtaining proxies...
Trying https://kickass.cd/
Available!

Fetching from page: 1
Page fetched!
Error message: Can't convert 'NoneType' object to str implicitly
Something went wrong! See logs for details. Exiting`

I don't know where I can find the logs^^ I'm using ubuntu 16.04

[2017-09-30 14:42] arnauldb commented on #29
Ubuntu Zesty Zapus

yes, $pip --version
pip 9.0.1 from /usr/local/lib/python3.5/dist-packages (python 3.5)

yes.

[2017-09-30 15:18] kryptxy commented on #30
https://github.com/kryptxy/torrench/blob/master/README.md#note
(Bullet #2)

KAT proxies are having some issues. You may use TPB/SkyTorrents/XBit till the proxies are up again.

[2017-09-30 15:27] kryptxy commented on #29
1. Try running ```sudo python3 -m pip install --upgrade pip``` and then run ```sudo python3 -m pip install torrench```. If this does not work, go to 2.
2. Try installing ```pyperclip``` separately. ```sudo python3 -m pip install pyperclip```. Then install torrench. See if this works (and report?)
3. If above does not work either - try ```sudo pip3 install --upgrade torrench``` (Do run the pip3 upg

[2017-10-01 10:21] arnauldb commented on #29
1 & 2 didn't work, I have the same error message:

3 didn't work either.

If I build from source using

how do I launch torrench ?

[2017-10-01 10:31] kryptxy commented on #29
The way other CLI programs are run (```$ torrench -h```)

[2017-10-01 11:22] nodje opened #31 "Feature request: enable multiple tracker merged results"
Hi,

great job, this is cool & fun to use.
A feature that would add great value to the tool that comes to mind immendiately would be to be able to merge result from different trackers.
I.e., being able to do `torrench -tks "my search"`

[2017-10-01 12:52] JPC1941 opened #32 "Torrentch.exe not recognised as executable in comand prompt (Windows 7)"
Hi,
I followed these instructions
Windows: Default config file location is C:\Users\<user>\config\torrench \
_>>> Creating .config directory:_
1. Create a new directory named "config" (In C:\Users\<user> \)
2. Right-click the directory -> Select 'Rename'
3. Add a dot (.) In the beginning and at the end of filename (means "config" becomes ".config.")
4. Save. This should create a required (.config)

[2017-10-01 14:35] JPC1941 commented on #32
Oups, I'm so sorry !

I wrote torrentch, NOT torench !
I think it will work fine now...

[2017-10-01 16:32] arnauldb commented on #29
ok. Thank you. I didn't succeed installing torrench on my machine, but I installed it successfully on my other computer, I guess it's a problem with me not torrench.

[2017-10-01 16:58] kryptxy commented on #32
Is it resolved?

[2017-10-01 16:58] #30 closed

[2017-10-01 16:59] kryptxy commented on #29
(Closing)

[2017-10-01 16:59] #29 closed

[2017-10-01 17:01] kryptxy commented on #31
I got similar suggestion from other users. Have begin working on same. Next update should have this (no promises though).

[2017-10-01 17:55] JPC1941 commented on #32
Yes, it works, except for the options -t, -k, -s, -n and -x where the config.ini is considerated as absent or invalid :

	_With : C:\Users\JPC\.config\torrentch>torrench -d 'solus' :_
[DistroWatch]
Fetching results...
+--------------------------------------------------------+---------+------------+
| NAME                                                   | INDEX   | UPLOADED   |
+=================

[2017-10-01 17:58] kryptxy commented on #32
The config file is not found/configured.
I see a typo.
The directory name is ```.config\torrench```
 ```C:\Users\JPC\.config\torrench\```

[2017-10-01 18:54] JPC1941 commented on #32
Oh Yes, It's all folks !
Thank you so much !

[2017-10-01 18:56] #32 closed

[2017-10-02 04:05] Princeyadav05 commented on #32
Hey @kryptxy
I'm having same error.
[code]

[2017-10-02 04:17] kryptxy commented on #32
@Princeyadav05 did you rename the file to ```torrench.exe``` and moved the downloaded file to ```.config\torrench``` folder? If not, go to folder where ```torrench-1.0.XX.exe``` is present and then run the exe from CMD/Powershell.

[2017-10-02 04:24] Princeyadav05 commented on #32
working now. Thanks bro.

[2017-10-02 18:14] nicolasmsg commented on #28
Hello, i just rewrite the application using click. I tried to do it with the less changes possible,
tell me what you think. With some re factorization it could be really great i think.

https://github.com/nicolasmsg/torrench/tree/migrationToClickCLI/torrench

[2017-10-02 18:23] XayOn commented on #25
What about leveraging it to xdg-open and letting the user configure the opening client with the standard linux tools?

I would also recommend following PEP8 (you can add it to your test suite with pytest-flake8) and python comments style (flake8_docstrings will take care of that).

I'm doing that with https://github.com/XayOn/katcr

And as your options base is growing (even more than mine!) I'd re

[2017-10-02 18:35] nicolasmsg commented on #25
Hello, I just rewrite the application using click. I tried to do it with the less changes possible,
tell me what you think. With some re factorization it could be really great i think.

https://github.com/nicolasmsg/torrench/tree/migrationToClickCLI/torrench

[2017-10-03 00:56] kryptxy commented on #25
I don't think ```xdg-open``` can be relied upon. One good reason is not everyone uses/has xdg-open installed/setup. (Eg. some use ```gnome-open```). Also, it works on basis of MIME type - Selects the default application, which I don't find convincing enough (In default behaviour it might open some unintended application).

What kind of configuration are we referring to?

Will look into it :)

doco

[2017-10-03 03:48] nicolasmsg opened #33 "Add inquirer list selection"
I wrote a sample to use inquirer to display the search output to and be able to select it using the arrow keys.
The sample is not fully functional (You cannot select a torrent) and contains some bug (list index out of range when press key down after last item of first page) but it show how to use inquirer with the current application. I did it as a POC so the code is really messy for now but it ca

[2017-10-03 04:04] datafanatic commented on #25
@XayOn Pretty cool and elegant solutions on the scrapers. Can you recommend some resources on metaclasses? I'd like to learn more about them.

[2017-10-03 04:47] nicolasmsg commented on #25
@datafanatic In this case the metaclass is only used to create an Abstract Base Class (ABC) this ABC works like a mixin
https://docs.python.org/3/library/abc.html#abc.ABCMeta

Some metaclasses ressources :
  https://python-3-patterns-idioms-test.readthedocs.io/en/latest/Metaprogramming.html
  https://jakevdp.github.io/blog/2012/12/01/a-primer-on-python-metaclasses/
  https://www.ibm.com/developerw

[2017-10-03 08:06] Princeyadav05 opened #35 "No config (torrench.ini) file found"
Hey @kryptxy
I was using torrench on windows without any problem.
But on linux it is returning this
[code]

when I'm trying to load the torrent.

Provided below are the scrrenshots of my
1. .config/torrench folder.
2. Terminal
3. config.ini file
![screenshot from 2017-10-03 13-33-32](https://user-images.githubusercontent.com/22894003/31115321-782c832a-a83f-11e7-87c0-2d55e8e38684.png)
![screenshot

[2017-10-03 09:09] kryptxy commented on #35
https://github.com/kryptxy/torrench/blob/master/CHANGELOG.md#28092017-v1054

[2017-10-03 11:10] Princeyadav05 commented on #35
Hey. @kryptxy Thank you so much. Its working again.
And I've used the deluge-gtk client. Beacuse you asked to inform on some new clients.
Also, I know some more torrents like extratorrent and 1337x.

[2017-10-03 11:14] kryptxy commented on #35
Thanks.
Closing! (Please consider opening a new issue for a different subject if required)

[2017-10-03 11:14] #35 closed

[2017-10-03 13:00] datafanatic commented on #33
Perhaps you meant to open a PR?

[2017-10-03 16:19] jaymoulin opened #36 "Feature proposal : Docker container"
To ease installation and dependencies, propose some docker images so one can automatize some processes or a give full operational isolated system

[2017-10-03 18:09] kryptxy commented on #36
Okay this is something new (Docker noobie here!). I have never worked with docker (Though I have heard a little) - How would it be beneficial or what's the advantage of using this?

[2017-10-03 20:17] jaymoulin commented on #36
This would be beneficial because it saves the current state of the project and all its dependencies. It's really easy to install as a user (not programmer) don't need to know what dependencies to install, if it stills exists or not, variables to set etc...

Right now, torrench needs to have gcc, libxml, python >= 3 etc to work... with docker installed :

[code]

is the only command needed to displ

[2017-10-03 23:15] datafanatic commented on #25
Thanks @nicolasmsg, I'll study these resources with care.

[2017-10-03 23:18] datafanatic commented on #36
What advantage would this have instead of the current `pip(3) install torrench` approach? Also, `gcc` is a Python dependency, no? I'm also not savvy with Docker, so please excuse my ignorance.

[2017-10-03 23:25] jaymoulin commented on #36
Assume one or more dependency of torrench is deleted from pip (which can occurs if the one maintainer decide to deleted it from pip, (which occured on NPM if you followed NodeJS news)), or a dependency need another dependency, which need something else to be installed or configured : torrench or `pip install torrench` won't work in that case.
Also, you MUST know what extension has to be installed

[2017-10-03 23:30] datafanatic commented on #36
Oh, I see. That's pretty interesting. So it works kind of like a small VM whose sole purpose is to run configure, build and run torrench? Also, regarding the PR, I'm not responsible for that as I'm just a contributor, much like yourself. I was just curious regarding the advantages of Docker since it seems to be used quite a lot nowadays but I never really had the time (or patience, really) to stud

[2017-10-03 23:32] jaymoulin commented on #36
It's not VM but you can use this paradigm to understand the point

[2017-10-04 00:40] kryptxy commented on #36
This looks interesting.
@jaymoulin I am gonna try it today. Still got a few questions which I hope will be answered once I get my hands dirty with docker.

About PR - I seriously doubt I won't accept it. This is really interesting and something different (Thank you!). Just I'd like to try it myself and see how things work with docker.

[2017-10-04 10:11] afk-mcz opened #38 "MacOS torrentch.ini"
When I try to load the magnet link on client I get the following error.

`[ERROR]: [Errno 2] No such file or directory: 'transmission': 'transmission'`

I tried with transmission-remote, transmission-gtk, transmission-qt and had the same result.

[2017-10-04 10:43] kryptxy commented on #38
Is transmission-{remote,gtk,qt} accessible from terminal?

[2017-10-04 10:47] Arlefreak commented on #38
I have to use the full path

`/Applications/Transmission.app/Contents/MacOS/Transmission`

Loading the magnet link on the client was working before the need for a thorrentch.ini

[2017-10-04 10:54] kryptxy commented on #38
What's the output for ```$ transmission-gtk```?

If you are using full path, it means transmission is not in your environment (PATH). Try figuring out what your $PATH has maybe?

[2017-10-04 11:53] Arlefreak commented on #38
I added Transmission to my PATH, but now it opens a new instance of transmission every time and doens't load the magnet link, is there a way to make the browser handle it ? like on windows?

[2017-10-04 14:25] kryptxy commented on #38
Can you please attach the log file. As per reports from users, it works fine. Does ```$ transmission-gtk``` open the transmission GUI window?

As of now there isn't. I'll add the browser option.

[2017-10-04 17:17] kryptxy commented on #36
Hi,
I played with docker a bit (It's awesome btw). I faced a few issues:
* After downloading torrench docker image, command ```docker run --rm -ti jaymoulin/rpi-torrench torrench --help``` gives error ```standard_init_linux.go:187: exec user process caused "exec format error"```. I tried finding a fix, but the issue mentioned everywhere (about missing ```#!/bin/sh```) is not the issue here. Did I

[2017-10-04 20:49] jaymoulin commented on #36
You found out for yourself for the first problem before I could explain you.

For the second problem, you have to mount a volume for your container to access your host files :

For example:
[code]

[2017-10-05 04:59] kryptxy commented on #36
It worked. Thanks.

Can this be made stand-alone? I mean instead of mounting host's ```$HOME/.config/torrench``` to container, a script that could directly download the config.ini file to container? (If I am not wrong, a few modifications to ```Dockerfile``` should help achieve this?). If not a script, then maybe user could download the config file to host, and then  copy the config file to contai

[2017-10-05 05:00] kryptxy commented on #26
Closing (assuming the issue is resolved). If it isn't, post a reply and it will be re-opened.

[2017-10-05 05:00] #26 closed

[2017-10-05 08:30] jaymoulin commented on #36
No problem, just give me the config files I need to add and where and I'll handle that

[2017-10-06 17:09] kryptxy commented on #36
Hey, by adding wget command I meant the wget command would be executed _after_ docker image is downloaded. The config file should not be downloaded along with docker image. The docker image by default should not contain the ```config.ini```.

After downloading docker image - command ```docker run -it jaymoulin/rpi-torrench:pc  mkdir -p /root/.config/torrench && wget -O /root/.config/torrench/confi

[2017-10-06 17:39] jaymoulin commented on #36
I don't understand why you need this file to be downloaded later? Also you can install all those dependencies manually instead of adding it in the docker image

[2017-10-06 17:51] kryptxy commented on #36
This is how torrench functions. To enable TPB/KAT... sites, the config file needs to be downloaded separately by user, and needs to be enabled as well. We can't provide the ```config.ini``` file along with image. TPB/KAT sites are disabled by default.

That would be fine too.

---

This is what I have in mind:
* User downloads the docker image
    * By default TPB/KAT... sites are disabled. Howeve

[2017-10-06 18:30] jaymoulin commented on #36
I get that the option has to be activated by the user to enable the feature but I don't get why he has to **DOWNLOAD** that file separately.

If I provide the file with the image I can still be able to force the user activate something for him to use this functionality.

Even if the file must be maintained with your new releases, It will not be compatible with late revisions so we'll lose the purp

[2017-10-06 18:48] kryptxy commented on #36
I see. Okay. So include the file with image, but set ```enable=0```. And let user enable the file.

[2017-10-06 19:54] datafanatic commented on #36
I think all of this could be solved with a simple check to see if the user is running torrench for the first time, then ask the user to enable the modules.
For example:

`$ torrench -t "ghost in the shell"`
`This seems to be the first time that you are running torrench. Some modules may contain illegal content so we ask that you enable them manually. Would you like to enable them? [y/n]`

If `y`,

[2017-10-06 20:57] jaymoulin commented on #36
usage example with this new PR
Without illegal sites
[code]
With illegal sites
[code]

[2017-10-07 20:17] kryptxy commented on #36
Looks great. Two (final) changes:

1. Every time I run search command with ```--risky``` argument, the entire ```config.ini``` file is displayed in console, followed by search. Can this config file be removed from display? Silently enabling the file would be great.

2. It would be better to enable the config file once. (That is not to pass ```--risky``` argument every time to search TPB/KAT/etc).

[2017-10-08 13:34] jaymoulin commented on #36
I compiled with debug on. I fixed it. Nothing changed in PR

I can't keep state. You can bypass this with this command :

[code]

[2017-10-09 14:47] RafayGhafoor commented on #36
Prompt message: Confirm enabling config.ini file? Some modules may contain illegal content so we ask that you enable them manually. Would you like to enable them [y/n]:

Implemented at https://github.com/kryptxy/torrench/pull/42

[2017-10-09 20:12] kryptxy commented on #36
@jaymoulin Thanks for your work. Really appreciated. I find docker amazing, and can see why devs love it. Still got to explore it and learn more about it :) Thanks for bringing it in.
Merging PR! Cheers!

[2017-10-09 20:13] #36 closed

[2017-10-09 22:57] Lucas-C commented on #25
FYI, I just tested torrench "Load magnetic link to client" feature under Windows 10 with Cygwin and deluge Windows client and it works perfectly well

[2017-10-16 03:49] itdaniher opened #45 "tracker request: idope.se"
pretty self-explanatory; depending on schedule I might take a stab at it.

urls are of the form:

`https://idope.se/torrent-list/ubuntu/?p=2`

and it looks like results are just

`//*[@id="hideinfohash0"]` zipped with `//*[@id="hidename0"]`

cheers!

[2017-10-16 05:29] kryptxy commented on #45
Nice. Will add this :)

[2017-10-19 03:43] kryptxy commented on #45
Site is using Javascript (ALOT). Everything is done, except Magnetic URI. Magnetic URI is loaded with JS - and not only the URI but the tag its getting data from is loaded with JS (as python ```requests``` module is unable to capture it). Got any ideas/work-around?

[2017-10-19 06:49] datafanatic commented on #45
Use PhantomJS. It's a little heavier than pure Requests + BS4 but it will do the job. I'm currently working on a C++ project, but I'll tackle it during the weekend if there's no progress.

[2017-10-19 15:29] itdaniher commented on #45
Shucks, I did not realise the HTML was built with JS at load-time. That's awful. I just wrote those xpaths after poking around with web-inspector in Firefox. I strongly recommend just abandoning this.... there're other things to do, and while PhantomJS would totally work, it strikes me as overkill.

I might spend some time reversing their javascript and seeing if I can't make a pure python script

[2017-10-20 23:32] lf-araujo opened #47 "Be less verbose!"
Thanks for the excellent tool.

There is too much output being printed, I think that there are several ways of conveying the information without being so verbose. Especially regarding the table divisions, its use is excessive flooding the output of informationless markings.

I would recommend consider using a markdown style of table like the below:

[code]

[2017-10-21 02:24] kryptxy commented on #47
Can you please elaborate a bit more? What table info is not useful? And what all verbose can (or should) be removed?

Table output style can be changed, but other styles were making the content less readable.

[2017-10-21 22:30] lf-araujo commented on #47
Sure,

Being more specific. The element the user will want to be presented unobstructed is the index and the name, I would suggest changing the order of the table so that the index is printed first.

Second, please consider the following:

![](https://github.com/kryptxy/torrench/raw/master/images/screenshots/ubuntu.png)

See the horizontal divisions? These are overused, in the end they are not hel

[2017-10-22 09:52] z1lt0id opened #48 "Make Index Number Visible"
Just wondering if there is an option to enable the index number of each torrent? It's annoying trying to count all the way down the list ;)

[2017-10-22 12:37] kryptxy commented on #48
What do you mean? Each torrent has an associated index.

[2017-10-22 14:00] prakashdanish commented on #48
@z1lt0id the second collumn literally does that.

@kryptxy Off-topic: Just saw cli-amizone, was wondering how you'll authenticate? using selenium because that's what I did [here](https://github.com/prakashdanish/amizone-cli) and if not, then do let me know, I'm curious as to learning other ways of doing just that.

[2017-10-22 14:04] prakashdanish commented on #47
Agree with @lf-araujo on this. If you approve these potential changes @kryptxy I'd like to give it a shot.

[2017-10-22 19:08] kryptxy commented on #47
@lf-araujo I tried with index printed first - but when choosing torrents, referring index for each torrent is a bit more convenient when index is placed after torrent name. (I tried both - and this order was more helpful (for me) when selecting torrent). Same reason for the two dashes.
This being said, The order you are suggesting, give it a try - and show me? It's a pretty simple fix - I can walk

[2017-10-22 19:20] kryptxy commented on #48
@prakashdanish Nice! Looks great.

I used the ```requests``` module (```requests.session```). See [Authenticate.py](https://github.com/kryptxy/cli-amizone/blob/master/amizone/Authenticate.py) file.
You may ping me [Twitter/Telegram](https://github.com/kryptxy/torrench#contact) or [create an issue](https://github.com/kryptxy/cli-amizone/issues/new) and we can discuss this further if you'd like to :

[2017-10-22 20:05] itdaniher commented on #45
It's not the case!

They just check the User-Agent header.

Try:

     curl 'https://idope.se/torrent-list/ubuntu/?p=2' -H 'user-agent: Mozilla/5.0 (X11; Linux x86_64) Chrome/61.0.3163.100 Safari/537.36' --compressed | grep info

[2017-10-22 22:40] ad33329 opened #49 "setup.py minor Linux standardization"
setup.py does not have the executable bit. Is it possible for you to have it set in the repo by default?

Also, I should point out, not everyone has their Python binary in `/usr/bin/python3` (e.g., if you compiled Python from source, it might be in `/usr/local/bin`) -- better compatibility is probably something like `#!/usr/bin/env python3`.

Note: I don't use Mac or anything and don't know if the

[2017-10-23 01:26] tsaber opened #50 "*.py already exists in filesystem"
Hi` I run archlinux and when I try to install your package I get:

[code]

Do you know what I can do? because a lot of dependencies are protesting when I try to deinstall either python2 or python (ver3.6).

[2017-10-23 16:36] kryptxy commented on #49
What exactly do you mean by executable bit?

Yes I know using `/usr/bin/env` is better. But I myself do not own any Mac hardware. So wasn't able to test this. So I kept `/usr/bin/python3`.
If someone could confirm if it works or not, I would be able to implement this change.

[2017-10-23 16:51] kryptxy commented on #45
Ah! Perfect. It worked! I had no idea it would be checking the user-agent. Thanks! How did you diagnose this? Just curious.

Will add idope within this week.

[2017-10-23 16:52] itdaniher commented on #45
Just messing around in network inspector - "copy as curl" followed by some process of elimination where I stripped down headers until it stopped returning data.

[2017-10-23 16:53] kryptxy commented on #50
What do you mean by this?

How are you installing torrench? AUR? Or pip?

[2017-10-23 16:54] kryptxy commented on #38
Closing issue as no response.

[2017-10-23 16:54] #38 closed

[2017-10-23 17:06] kryptxy commented on #45
Nice. Thanks!

[2017-10-25 09:08] smanull opened #51 "TR_AUTH not set"
Hi,

I am facing an error when trying to load the magnetic link to the transmission-remote client.

```[ERROR] The TR_AUTH environment variable is not set```

In my transmission-daemon settings.json authentication is set false: `"rpc-authentication-required": false,` and in torrench.ini I did not specify `TR_AUTH`. I am not sure whether this is a transmission or a torrench issue.

Any help is appr

[2017-10-25 09:55] datafanatic commented on #51
`TR_AUTH` is an environment variable. If you are on a UNIX-like environment, to set it you'll do `export TR_AUTH=user:password`. Also, you need to enable remote management. Go to the transmission GUI > Edit > Preferences > Remote and mark the "Enable remote access" box. Then, mark the "Use authentication" box, choose a login and password then use those in the `TR_AUTH` environment variable. i.e. `

[2017-10-25 13:01] smanull commented on #51
Wow, thanks a lot for the very fast and helpful reply! Your solution works perfectly!

[2017-10-25 13:01] #51 closed

[2017-10-27 10:44] kryptxy commented on #45
Idope module added (`master` branch). Please build from source and update the config.ini file accordingly.

[2017-10-27 18:47] #45 closed

[2017-10-31 12:19] kryptxy commented on #47
@prakashdanish any update?

[2017-10-31 14:20] prakashdanish commented on #47
@kryptxy will do it soon, got stuck in college work :/

[2017-10-31 20:41] lf-araujo commented on #47
I cant help out at the moment... but thanks for your help!

[2017-11-02 22:38] Gillinghammer opened #53 "Mac OS Config Location?"
Not sure if I have my config file in the right place on Mac... getting the following when running an example query :

`Traceback (most recent call last):
  File "/usr/local/bin/torrench", line 9, in <module>
    load_entry_point('torrench==1.0.56', 'console_scripts', 'torrench')()
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resources/__init__.py", line 56

[2017-11-02 22:39] datafanatic commented on #53
Try:

`sudo pip3 install configparser`

[2017-11-02 22:41] Gillinghammer commented on #53
Thanks @datafanatic - tried it but no luck, same error here

[2017-11-02 22:42] datafanatic commented on #53
What was the output of the command (the one I sent you)?

[2017-11-02 22:43] Gillinghammer commented on #53
@datafanatic
[code]

[2017-11-02 22:44] datafanatic commented on #53
Ok. First upgrade pip as the message said. How did you install torrench? Was it from the repository or pip?

[2017-11-02 22:45] datafanatic commented on #53
Also, please post the output of `python -V`

[2017-11-02 22:47] Gillinghammer commented on #53
Not sure the upgrade command is working for me, shows me:
`Requirement already up-to-date: pip in /Library/Python/2.7/site-packages`

python -V:
`Python 2.7.10`

[2017-11-02 22:49] datafanatic commented on #53
That's the problem. Torrench only works with Python 3+. Post the output of this command: `python3 -V`.

[2017-11-02 22:50] datafanatic commented on #53
Also, `pip` and `pip3` refer to different versions, Python 2.x and Python 3.x, respectively. What you should do is `sudo pip3 install --upgrade pip`.

[2017-11-03 02:33] kryptxy commented on #53
As @datafanatic mentioned, torrench works with python3+.

Traceback shows torrench is installed using python2. Please remove the 2.7-installed version and re-install it using python3.
`$ sudo pip3 install --upgrade torrench`

[2017-11-03 15:30] Gillinghammer commented on #53
@datafanatic and @kryptxy
thanks for helping this Noob - All good now, cheers.

[2017-11-03 15:30] #53 closed

[2017-11-03 20:57] Gillinghammer opened #54 "transmission-remote not found"
Finishing up configuring the torrench.ini file to connect to my transmission-remote client, but getting this error after selecting the 'Load magnetic link to client' option.

`[ERROR]: [Errno 2] No such file or directory: 'transmission-remote': 'transmission-remote'`

[2017-11-03 21:28] #54 closed

[2017-11-05 01:41] datafanatic opened #55 "Possible bug in the Nyaa module"
I was testing a couple of things earlier today and there seems to be a malfunction with the nyaa module. Ex:

`$ torrench -i`
`$ torrench > !n "monster 2004"`
gives
`Unable to parse torrent name.`
but
`$ torrench > !n monster 2004` works and so does `$ torrench > !n 'monster 2004'`. But double quotes do not seem to work at all.

To me it seems like it's parsing quoted names in an incorrect way. Si

[2017-11-05 05:12] kryptxy commented on #55
I tried a few searches and double quotes did work in some. Example: try "death note".

I found one more (minor) bug. In case no results are found, it gives `Unable to parse torrent name.`
Since you will be reviewing nyaa module, maybe you could have a look at this too?

[2017-11-05 14:17] datafanatic commented on #55
Yes, I shall take a look at it. Thanks.

[2017-11-05 16:12] ad33329 commented on #49
Oh. Sorry. I forgot to check my account for like 2 weeks. That happens sometimes. :stuck_out_tongue:

Note to self: see if you can find some sort of RSS feed mechanism to get decent notifications for when you get messages on Github.

I have a family member who uses a Mac computer, but I won't be able to borrow hers for a couple months. I could try it on there sometime. Alternatively, I could set u

[2017-11-07 14:57] #47 closed

[2017-11-07 15:40] datafanatic commented on #55
It seems like the problem in mentioned in the OP is not really a problem with the module itself, rather, the way that the search works in the website. Double quotes are treated as literals, much like Google does in their search engine. It would be possible (and trivial) to remove double quotes from queries before calling the module but I thought about letting them for users who may want specific r

[2017-11-07 16:09] kryptxy commented on #55
Removing double quotes is preferable. Cause torrents matching search keywords is more likely to give intended result. In case of specific search (IMO) not every torrent would have the exact name as we'd type. And even though the torrent we are looking for is present, it would give no results.

[2017-11-07 16:44] datafanatic commented on #55
OK. I'll modify the PR soon.

[2017-11-08 02:35] davidmthomsen opened #58 "Adding deluge to config"
I added deluge in the torrench.ini
CLIENT = `deluge`
 However it gets error when I try to Load magnetic link to client
[ERROR]: [Errno 2] No such file or directory: '`deluge`'

I am using Mac OS X.

[2017-11-08 02:40] davidmthomsen commented on #58
I got it fixed, I set the absolute path to deluge
/Applications/Deluge.app/Contents/MacOS/Deluge

[2017-11-08 03:06] kryptxy commented on #58
Closing as resolved.

[2017-11-08 03:06] #58 closed

[2017-11-10 06:34] kryptxy commented on #49
Wow. Thanks for detailed info. I do know about linux's `x` bit and about file's/directory's `rwx` properties.

Any luck?

The setup.py file does have the required [shebang](https://github.com/kryptxy/torrench/blob/master/setup.py#L1) to run file as `./setup.py`. If I am not wrong, the [umask](https://docs.oracle.com/cd/E19683-01/817-3814/userconcept-95347/index.html) utility sets the default permi

[2017-11-10 06:35] #48 closed

[2017-11-10 06:35] #33 closed

[2017-11-12 15:18] #55 closed

[2017-11-14 07:51] payasrelekar opened #59 "Feature request: Library Genesis?"
[Library genesis](libgen.io) has torrents for most of the books [here](http://gen.lib.rus.ec/repository_torrent/). I have no idea how we can search that as torrents don't seem to be named by book/author/publisher. Just want to see if there is a possibility whether this can be utilized for torrench.

Libgen mirrors in case it is blocked in your country: [1](gen.lib.rus.ec), [2](libgen.pw), [3](book

[2017-11-14 08:21] kryptxy commented on #59
Most of the torrents are dead (I tried some, and all were dead).

[2017-11-14 08:35] payasrelekar commented on #59
Ok, I may not have checked that. However, I went ahead and searched for couple of books, and torrent links on individual book pages work just fine. Can we scrape from that? Also, I don't understand how it works, but they have an API, with a description on their [forums](https://genofond.org/viewtopic.php?f=17&t=6874)(requires registration, pdf of the page [here](https://www.pdfhost.net/index.php?A

[2017-11-15 09:46] kryptxy commented on #59
I'll look into it.

[2017-11-18 16:28] kryptxy commented on #59
Sorry for late response. Exams are about to start :S

Yes. Torrents do work. Took about 4-5 mins to start.
I tried the API. I see it does not allow to search using book title. Instead, books can be queried either using ID or book ISBN.
To search by title, the site would have to be scrapped. Though its not a lot of work, I feel searching by book ISBN would give more appropriate results. I tried a f

[2017-11-18 16:54] payasrelekar commented on #59
Thanks a lot. ISBN search is good enough, especially if it is less work. Does API provide any other download than torrent? That should speed up whole process a lot, and then it won't matter much if user has to take an extra step.

On second note, once this is in, site scraping can be planned long (long long) term, because that will expose many more options, extensions, sizes and mirrors.

PS: All

[2017-11-19 10:43] kryptxy commented on #59
Direct download can be implemented as well, but that's out of torrench's scope.
I don't think torrents should be an issue though. They do take some time to load, but they work. (Also, it would be possible to directly add torrent to client from torrench).

The only thing API does not allow is search ability by title. Rest most of the book info can be made available through API. Title, Author, date,

[2017-11-19 13:46] payasrelekar commented on #59
Fair enough. ISBN it is, then. If at some point there is enough demand for title search through torrench alone, you can think of site scraping. For now, API is good enough.

[2017-11-22 13:13] jaymoulin opened #60 "Feature proposal : Docker container Multiarch"
In order to ease torrench Docker usage, consider building Docker Multiarch image now that hub.docker.com registry is compatible with manifest (https://docs.docker.com/registry/spec/manifest-v2-2/)

So you could be able to `docker run --rm -ti jaymoulin/torrench` instead of `docker run --rm -ti jaymoulin/rpi-torrench:pc` for PC and `docker run --rm -ti jaymoulin/rpi-torrench:rpi` for Raspberry PI

[2017-11-23 15:14] kryptxy commented on #60
Thanks for your work.
I tried pulling the docker image using `docker pull jaymoulin/torrench` (as mentioned on the right hand side of docker repository webpage) . It gave an error - `no matching manifest for linux/amd64 in the manifest list entries`.
However, command `docker pull jaymoulin/torrench:0.2.0-amd64` worked fine. Is this how it is suppose to work? I see `latest` tag in docker repo. If I

[2017-11-23 15:27] jaymoulin commented on #60
My bad, typo

[2017-11-23 17:13] #60 closed

[2017-11-24 07:15] kryptxy commented on #59
Yes definately.

I have updated sources adding libgen (`torrench -g <ISBN>`). You can try it out by building torrench from source till I release the next update (will be released soon).
Do update the config.ini file for libgen to work.

[2017-11-25 10:37] kryptxy commented on #59
Update: New release has been published. Update torrench to v1.0.58 and you should be good :) [Sample](https://github.com/kryptxy/torrench#libgen-examples-ebooks).

[2017-11-27 01:33] kryptxy commented on #50
Closing as no response.

[2017-11-27 01:33] #50 closed

[2017-11-28 10:23] Suleman-Elahi opened #62 "Virus Detected !!!"
Are you sure it ain't gonna harm my PC.

![image](https://user-images.githubusercontent.com/24384996/33314607-2b91d632-d454-11e7-905f-3fdcb7dc0553.png)

[2017-11-28 10:36] kryptxy commented on #62
Those are false positives. If in doubt, you can build one from source.

[2017-11-28 11:01] #62 closed

[2017-11-30 13:42] kryptxy opened #63 "Re-writing Nyaa module"
@datafanatic I am in process of introducing cross-site search in torrench. However Integrating the nyaa module is becoming a little difficult, as it shares a completely different structure than other modules. It would have to be re-written in same format as the other modules (TPB/KAT...) to integrate it.
Since you authored the Nyaa module, I thought to run it by you before I proceed. I hope its fi

[2017-11-30 19:51] datafanatic commented on #63
Yeah, go ahead. I started rewritting it myself, but I have the bad habit of doing too many things at the same time so I completely forgot about it. The structure of the website is pretty annoying so it led to some bad design choices from me.

[2017-12-01 19:08] kryptxy commented on #63
Its done. It now supports searching through pages too ;)

[2017-12-01 19:08] #63 closed

[2017-12-02 18:53] asucrews opened #64 "Any plans to support authentication"
Any plans to support trackers that requires authentication?

[2017-12-02 19:37] kryptxy commented on #64
As of now - No. Since I do not use private trackers.
Some time in future - Maybe.

[2017-12-03 04:51] #64 closed

[2017-12-03 14:31] #59 closed

[2017-12-06 15:39] kryptxy opened #65 "Added Cross-site support - Need testers"
Hi,
I have recently added **cross-site support** (pushed changes to [master](https://github.com/kryptxy/torrench/tree/master)). Things seems to work fine for me. But I would appreciate if more people could test it report back. Bugs, additions, removals, suggestions, optimisations, open to all.

**Building from source**
Clone repo
`$ git clone https://github.com/kryptxy/torrench.git`

I'd suggest t

[2017-12-06 17:10] kryptxy commented on #31
Update: Cross-site support added.
https://github.com/kryptxy/torrench/issues/65

(Closing this issue)

[2017-12-06 17:10] #31 closed

[2017-12-07 10:51] utkudarilmaz opened #68 "Config.ini unreachable"
I can not download config.ini files. The url is broken. Please do you change config.ini file's url?

[2017-12-07 10:55] datafanatic commented on #68
Are you sure? This is the URL provided: https://pastebin.com/raw/reymRHSL and seems to work fine here.

[2017-12-07 13:36] kryptxy commented on #68
@utkudarilmaz Hope it's resolved now?

[2017-12-07 14:25] utkudarilmaz commented on #68
Sorry, but I can not reach pastebin.com domain. Perhaps this problem is related to my ISP. Would you add another url?

[2017-12-07 14:30] kryptxy commented on #68
Here: http://pasted.co/f03417ce

[2017-12-07 14:32] utkudarilmaz commented on #68
Thanks a lot.

[2017-12-07 14:32] #68 closed

[2017-12-07 20:29] kryptxy commented on #49
(Closing as no response)

[2017-12-07 20:29] #49 closed

[2017-12-08 13:39] #65 closed

[2017-12-08 16:32] #23 closed

[2017-12-11 22:41] Thigoe commented on #25
It would be good if you host updated config files in github instead of pastebin.
But anyway, torrench is what i was seeking for. Thank you.

[2017-12-24 17:33] ad33329 commented on #49
@kryptxy  Aww crap. I totally forgot about this. Sorry. I have like 3 part time jobs. :(

I'll reopen later when I have more time to dedicate to github, maybe?

[2017-12-31 18:15] #28 closed

[2018-01-23 20:02] Gillinghammer commented on #26
Having this error myself after I tried to port my old config to a new installation of Mac High Sierra OS. Any ideas on how to fix?

Never had a problem reaching TPB before, but now it will try the whole list and fail.

[2018-01-23 21:14] datafanatic commented on #26
@Gillinghammer Hi, could you please post your config file? This problem generally happens when the website is offline. Perhaps we ought to handle the exception ourselves in the future.

[2018-01-24 11:22] Gillinghammer commented on #26
Looks like TPB proxy sites might have been down, as I get results now, although not as quickly as I did before moving my configuration to this new system.

Kickass torrents used to work but now that spits out an error:
`AttributeError: 'int' object has no attribute 'find'`

When I attempt to load the torrent in my client, it gives me:
`[ERROR]: [Errno 2] No such file or directory: 'transmission-re

[2018-02-03 11:23] renatosamperio opened #70 "Compatible with 2.7"
Hi,

In order to make it compatible with python 2.7, I included the six.moves.configparser instead of configparser in the following files:

- torrench/utilities/Common.py
- torrench/modules/thepiratebay.py
- torrench/utilities/Config.py

Is it a good idea to make it compatible or decide on-the-fly which module to use?

Regards,

Renato.

[2018-02-10 08:00] tiyab commented on #25
rtorrent user noob but I am going for a headless box, successfully loaded torrent in rtorrent via torrench but it seems to create a lock file every time a torrent is loaded.
Have to manually delete the lock file before adding another one.
torrench spawn a new rtorrent process every time a torrent need to be added

[2018-02-19 06:14] stephanepiriou opened #72 "NoneType exception (related to BeautifulSoup ?)"
Here the command + output

[code]

[2018-02-19 07:53] datafanatic commented on #72
This generally happens when the website is offline. I have just tested and kickass.cd is currently up. Would you please try again?

[2018-02-19 17:16] stephanepiriou commented on #72
There is 2 issues here :

[2018-02-19 17:29] stephanepiriou commented on #72
It seems they protected the search input field with some magic trick on kickass.cd. I can't edit the html inner code of the input from the code inspector in safari, but still can delete or edit the input tag itself.
![Search Field](https://user-images.githubusercontent.com/20599429/36390266-c821dada-15a2-11e8-9f7e-c7ec337c4432.jpg)

[2018-02-23 05:05] mklbtz opened #73 ""send to client" should succeed when TR_AUTH is not set"
The documentation says that if `TR_AUTH` is "not set" that it will use the default of no username or password. When I was first setting up torrench, I assumed that meant that I didn't need the env variable at all, but I kept getting this message when I tried sending to `transmission-remote`.

    The TR_AUTH environment variable is not set

I was able to resolve the issue by running `export TR_AUT

[2018-02-25 14:10] gitkyle opened #74 "Is it possible to save a torrent file to a specific folder?"

[2018-02-26 22:38] adrianmihalko commented on #73
Same problem here.

[2018-02-27 20:35] datafanatic commented on #73
Hi, I'll see if I can tackle this during the weekend but I know if I'll be able to get it merged.

[2018-02-27 20:44] datafanatic commented on #74
Not currently. The destination is derived from your username. See https://github.com/kryptxy/torrench/blob/89f91628540e2a5a5dcfe204f1f0c2d214e2bbc2/torrench/utilities/Common.py#L426

[2018-03-04 06:51] mklbtz commented on #73
@datafanatic let me know if I can help somehow.

[2018-03-05 17:38] pheonix991 opened #75 "Windows/DOS line endings in the docker container"
Current version of the docker container has Windows/DOS line endings in the config.ini.  It is also missing some of the searches.

[2018-03-06 20:33] datafanatic commented on #73
@mklbtz Sure enough. I haven't been able to touch this since I'm busy with another programming project, but I haven't forgotten about it. Just a heads up.

[2018-03-06 20:34] datafanatic commented on #75
Is it something that you are able to fix and send a PR? Unfortunately, I don't know how docker works.

[2018-03-07 02:40] pheonix991 commented on #75
I'll try to get to it this weekend! Thanks for acknowledging the issue.

[2018-03-09 10:04] kryptxy commented on #73
Thanks @mklbtz for reporting. Setting up `$TR_AUTH` would be necessary.
It's a little more complicated than I thought. At the time of writing (the docs), I had tested this on Arch Linux. In Arch, at that time I was able to access transmission-daemon without any username/password (Thus mentioning Username/Password as None in docs). What I didn't do was test the same in other linux distros. In ubunt

[2018-03-13 20:00] mklbtz commented on #73
Yeah, I can certainly do that. I might need some help setting up the Python environment though. It's been a while. Also, please DM me on Twitter ([@mklbtz](https://twitter.com/mklbtz)) if you want me to respond quickly. I have to manually check these threads and I might forget 😅

[2018-03-21 07:43] g30h opened #76 "Awesome BUT how can I get multiple indexes?"
This tool is EPIC well done and I'll probably donate if I use it.
But please could you tell me, if I want to grab the magnet links for all 10 results, how would I do that?

Keep up the good work Bro, I'm probably going to test it on rtorrent.

Thanks so much and well done.

[2018-03-21 10:22] zappbrannigan34 commented on #74
Just symlink to you folder

[2018-03-21 10:25] zappbrannigan34 opened #77 "add sites"
Please add rutracker.org and nnm-club.me

[2018-03-27 16:28] kryptxy commented on #76
As of now, selecting multiple results is not supported. I am busy for next few weeks, so won't be able to get to it soon (College :/). But I remember [HdLight](https://github.com/HdLight) hacking it for group selections.

[2018-03-29 09:20] chetnuy opened #78 "AttributeError: 'int' object has no attribute 'find_all' on torrench -Ctisx 'ubuntu'"
`$ torrench -Ctisx 'ubuntu'`
`[Cross-Site Search]

[THEPIRATEBAY]

Obtaining proxies...
Traceback (most recent call last):
  File "/usr/bin/torrench", line 11, in <module>
    load_entry_point('torrench==1.0.61', 'console_scripts', 'torrench')()
  File "/usr/lib/python3.6/site-packages/torrench/__main__.py", line 28, in main
    Torrench.main()
  File "/usr/lib/python3.6/site-packages/torrench/Tor

[2018-04-01 23:05] peasead opened #79 "Bad Input!"
I am running macOS `10.13.4`, I am sorry, I don't know where the log files are located. I'll happily upload them. They aren't where I could `find` or locate them in `/var/log`.

Everything works from the search perspective, I can select the Index, but any of the options (Print links, Load, or Details) resulted in a "Bad Input!"

Of note, I did have to run `sudo pip install configparser` for Python

[2018-04-04 00:55] Clarin98 opened #80 "Error message: show_output() takes 1 positional argument but 3 were given"
Hi, thanks for your valuable work.

I installed Torrench in Debian 9 with pip3, I enabled the alternative search engines and I tried to search in **libgen** with this command
`torrench -g 1593272901`

But the result is:
[code]

Unfortunately I don't know how to access to logs, sorry. What could this be?

[2018-04-04 16:07] datafanatic commented on #80
Hey Clarin98, thanks for reporting this. You can find the logs under Windows at `%AppData%\Local` and in Linux/MacOS the path is `~/.local/share`. In both cases there should be a `torrench` folder with the log file in it.

[2018-04-04 16:11] datafanatic commented on #79
Torrench only works with Python 3.4+ so I'm not sure why you would have to install something in your Python 2.7 environment. That said, you can find the logs, IIRC, in `~/.local/share/torrench`.

[2018-04-04 16:13] datafanatic commented on #78
Hi chetnuy, could you please provide the logs? You can find them (assuming you're in Linux or MacOS) in `~/.local/share/torrench` and `%AppData%\Local\torrench` in Windows.

[2018-04-04 16:30] Clarin98 commented on #80
Yeah, I have found it.
[torrench.log](https://github.com/kryptxy/torrench/files/1876669/torrench.log)

[2018-04-05 03:13] kryptxy commented on #80
Thanks for reporting. I'll fix it by this weekend.

[2018-04-05 15:48] Clarin98 commented on #80
Thanks @kryptxy this is a very helpful tool :)

[2018-04-07 18:42] DimaBroi commented on #78
It seems to be happening for https://www.skytorrents.in also.
I tried :
torrench-1.0.61.exe -s 'ubuntu'

and got :
[SkyTorrents]

Obtaining proxies...
Trying https://www.skytorrents.in
Error message: 'int' object has no attribute 'find_all'
Something went wrong! See logs for details. Exiting!

[2018-04-15 08:06] RafayGhafoor commented on #78
@DimaBroi & @kryptxy, [Skytorrents is dead](https://torrentfreak.com/skytorrents-dumps-massive-torrent-database-and-shuts-down180221/)

[2018-04-21 23:46] nicolas471 commented on #25
I tried it using ktorrent and it works. Thanks for your work!

[2018-06-02 16:45] al2helal commented on #76
I like storing multiple magnet links of a search result, so that I call batch downloading.

[2018-07-06 11:04] antoyo opened #82 "Rarbg does not work"
Hi.
When I do a search with `--rarbg`, it shows the following error:
[code]
Thanks to fix the issue.

[2018-07-13 07:46] mschnetzer commented on #73
Hi, is there any news on this issue? Thanks!

[2018-07-15 12:18] kryptxy commented on #82
This was fixed some time back. Please re-build from source.

https://github.com/kryptxy/torrench/commit/2c4869ebc48012531689830351159da7b3f104b5

[2018-07-15 15:17] mhertz opened #83 "Skytorrents don't work + a couple of suggestions."
Firstly, Thanks alot for this app, awesome work!

Skytorrents don't work, even when fixing the new url in config.ini(https://www.skytorrents.lol), and states index out of range. I changed to torrench from pirate-get, because this supported DHT searches(through skytorrents), so if this could be fixed it world be very much appreciated.

Also, instead of, or in addition, couldn't you use xdg-open as

[2018-07-16 13:44] antoyo commented on #82
Thanks.

[2018-07-16 13:44] #82 closed

[2018-11-14 06:37] akvadrako opened #85 "LibGen: Error message: string indices must be integers"
For a new install with the recommended config.ini enabled:

[code]

[2018-11-20 09:01] l123456789jy opened #86 "Does not support Chinese"
[root@liu ~]# torrench "纸牌屋"
--- Logging error ---
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/logging/__init__.py", line 994, in emit
    stream.write(msg)
UnicodeEncodeError: 'ascii' codec can't encode characters in position 83-91: ordinal not in range(128)
Call stack:
  File "/usr/local/bin/torrench", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/pytho

[2018-12-05 12:38] fratcn opened #87 "rarbg failed"
[RarBg]

Traceback (most recent call last):
  File "/usr/bin/torrench", line 11, in <module>
    load_entry_point('torrench==1.0.61', 'console_scripts', 'torrench')()
  File "/usr/lib/python3.7/site-packages/torrench/__main__.py", line 28, in main
    Torrench.main()
  File "/usr/lib/python3.7/site-packages/torrench/Torrench.py", line 340, in main
    tr.resolve_args()
  File "/usr/lib/python3.7/s

[2018-12-06 23:24] ash121121 commented on #83
skytorrents.lol is DHT based and they moved domain to www.skytorrents.to

[2018-12-08 06:50] kryptxy commented on #87
Working on my end. Rarbg uses API to fetch results. Please make sure you are building from source. A patch was provided long time back, but was not released through pip. Please build from source and try again.

[2018-12-16 14:18] Frydac commented on #85
same issue, after building from source:
[code]

[2018-12-16 14:33] Frydac commented on #87
FYI: the arch package is also too old.
After building from source at rarbg worked.

[2018-12-16 15:06] Frydac opened #89 "failing torrentsites"
Hi,

I was trying out your application, and while some of the torrent sites worked, not all. I thought I'd share my findings:
I built torrench from source, from commit 2c4869e
my config.ini updated with `torrench -U`:
[code]

Then I tried following bash script, and I commented out the ones that where working for me:
[code]

the output:

[code]
I guess the limetorrents mirrors are not working here,